PRO2/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Paketler">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Paket">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PaketIsmi" type="xs:string" />
              <xs:element name="UyelikSuresi" type="xs:int" />
              <xs:element name="AylikFiyat" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>